/* #region common */
.home-page {
    background-color: #232323;
}

/* #endregion */

/* #region hero */
.animation-top {
    position: relative;
}

.hero {
    background: url(/assets/images/home/bg-hero.png) no-repeat center;
    background-size: cover;
    min-height: 655px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.hero-content {
    padding: 0 50px;
}

.hero-wrap {
    display: flex;
    gap: 30px;
    align-items: end;
}

.hero-title {
    font-family: 'SVN-Conqueror Didot';
    font-size: 64px;
    font-weight: 300;
    flex-shrink: 0;
    line-height: 1.2;
}

.hero-gradient {
    background: linear-gradient(90deg, #FFDE96 0%, #FFFFFF 48.56%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px #FFDE96;
}

.hero-title .and-style {
    -webkit-text-stroke: 0.5px #FFDE96;
    color: transparent;
}

.hero-desc,
.hero-desc-mobile {
    font-family: 'UTM Avo';
    font-weight: 400;
    font-size: 14px;
    max-width: 550px;
    color: #FFF;
}

.hero-desc-mobile {
    display: none;
}

.hero-name h1 {
    font-family: 'SVN-Conqueror Didot';
    font-size: 125px;
    font-weight: 300;
    -webkit-text-stroke: 1px #FFFFFF;
    line-height: 1.1;
    margin: 0;

    background: linear-gradient(90deg,
            transparent 0%,
            transparent 35%,
            #FFDE96 50%,
            transparent 65%,
            transparent 100%);
    background-size: 200% 100%;
    background-repeat: no-repeat;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    will-change: background-position;
    transform: translateZ(0);
    backface-visibility: hidden;

    animation: shine 3s ease-in-out infinite;
}

@keyframes shine {
    0% {
        background-position: 150% 0;
    }

    100% {
        background-position: -50% 0;
    }
}

@media (max-width: 1400px) {
    .hero-name {
        font-size: 100px;
    }
}

@media (max-width: 1100px) {
    .hero-title {
        font-size: 48px;
    }

    .hero-name h1 {
        font-size: 80px;
        padding-top: 16px;
    }
}

@media (max-width: 979px) {
    .hero {
        min-height: unset;
        padding: 50px 0;
    }

    .hero-content {
        padding: 0 24px;
    }

    .hero-wrap {
        flex-direction: column;
        gap: 12px;
        align-items: start;
    }

    .hero-name h1 {
        font-size: 64px;
    }
}

@media (max-width: 767px) {
    .hero {
        position: sticky;
        top: 80px;
        z-index: 0;
    }

    .hero-content {
        padding: 0 16px;
    }

    .hero-title {
        font-size: 22px;
    }

    .hero-title br {
        display: none;
    }

    .hero-name h1 {
        font-size: 38px;
        padding: 16px 0;
    }

    .hero-desc {
        display: none;
    }

    .hero-desc-mobile {
        display: block;
    }
}

@media (max-width: 425px) {
    .hero-name h1 {
        font-size: 34px;
    }
}

@media (max-width: 385px) {
    .hero-name h1 {
        font-size: 32px;
    }
}

/* #endregion */

/* #region intro image */
.intro-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1440/1008;
    position: relative;
    overflow: clip;
}

.intro-image-scroll {
    width: 100%;
    height: 100%;
    transform: translateY(-300px);
}

.intro-image-scroll img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .intro-image {
        position: relative;
        z-index: 1;
    }

    .intro-image-scroll {
        transform: translateY(0);
    }
}

/* #endregion */

/* #region introduction */
.scroll-section {
    position: relative;
    overflow: clip;
}

.section-head {
    position: sticky;
    top: 80px;
    height: auto;
}

.introduction {
    display: flex;
    min-height: 258px;
    border-bottom: 1px solid #D9D9D9;
    background-color: #232323;
}

.intro-logo {
    height: 258px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #D9D9D9;
    flex-shrink: 0;
}

.intro-logo img {
    max-width: 120px;
    width: 80%;
}

.intro-title .title {
    font-family: 'SVN-Conqueror Didot';
    font-size: 64px;
    font-weight: 300;
    background: linear-gradient(90deg, #FFDE96 0%, #FFFFFF 31.73%, #F4C45B 65.87%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px #FFFFFF;
    line-height: 1.2;
}

.intro-title {
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.reveal {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.block {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #FFDE96 40%, #FFFFFF 70%);
    transform: scaleX(0);
    transform-origin: left center;
}

.title {
    opacity: 0;
    transform: translateY(40px);
}

@media (max-width: 1100px) {
    .intro-title .title {
        font-size: 48px;
    }
}

@media (max-width: 979px) {
    .intro-title .title {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    .scroll-section {
        z-index: 2;
    }

    .introduction {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-bottom: 24px;
    }

    .intro-logo {
        height: unset;
        border: none;
        aspect-ratio: unset;
        padding: 12px 0 0;
    }

    .intro-title {
        padding: 0 16px;
    }

    .intro-title .title {
        font-size: 24px;
    }
}

/* #endregion */

/* #region device */
.device {
    position: relative;
    background: url(/assets/images/home/bg-galaxy-1.png) no-repeat center;
    background-size: cover;
    height: 100dvh;
}

.device-ellipse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
}

.device-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'SVN-Conqueror Didot';
    font-size: 64px;
    font-weight: 600;
    line-height: 1.2;
}

.device-title-top {
    background: linear-gradient(90deg, #FFDE96 0%, #FFFFFF 31.73%, #F4C45B 65.87%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.device-title-bottom {
    color: transparent;
    -webkit-text-stroke: 0.5px #FFFFFF;
}

.device-showcase {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
}

.device-photo {
    position: absolute;
}

.device-photo-1 {
    top: 80px;
    right: 25%;
    width: 24%;
}

.device-photo-2 {
    left: 10%;
    top: 52%;
    width: 20%;
}

.device-photo-3 {
    top: 63%;
    right: 9%;
    width: 27%;
}

@media (max-width: 1024px) {
    .device-title {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    .device-title {
        width: 100%;
        font-size: 24px;
    }

    .device-showcase {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 100dvh;
    }

    .device-photo {
        position: static;
        width: 100%;
        text-align: center;
    }

    .device-photo {
        width: 100%;
    }
}

/* #endregion */

/* #region hall */
.hall-marquee {
    overflow: hidden;
    width: 100%;
    padding: 16px 0;
    border-top: 1.5px solid #D9D9D9;
    border-bottom: 1.5px solid #D9D9D9;
}

.marquee-track,
.marquee-track-1 {
    display: flex;
    width: max-content;
    gap: 80px;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.marquee-track span,
.marquee-track-1 span {
    font-family: 'SVN-Conqueror Didot';
    font-size: 64px;
    font-weight: 300;
    line-height: 1.2;
    background: linear-gradient(90deg, #FFDE96 0%, #FFFFFF 31.73%, #F4C45B 65.87%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px #FFFFFF;
}

.hall-intro {
    position: relative;
}

.hall-item {
    position: relative;
    padding-bottom: 120px;
    overflow: hidden;
}

.hall-item-1 {
    position: sticky;
    top: -300px;
}

.hall-item-content {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    z-index: 1;
    bottom: 220px;
    width: 100%;
    padding: 0 100px;
}

.hall-item-2 .hall-item-content {
    bottom: 70px;
}

.hi-text-top {
    background: linear-gradient(90deg, #FFDE96 0%, #FFFFFF 31.73%, #F4C45B 68.75%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px #FFFFFF;
    height: 185px;
}

.hall-item-prefix {
    font-family: 'SVN-Conqueror Didot';
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
}

.hall-item-name {
    font-family: 'UTM Beautiful Caps';
    font-size: 80px;
}

.hi-text-bottom {
    font-family: 'UTM Avo';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: -70px;
}

.hall-item-capacity {
    background: linear-gradient(90deg, #D2BB81 0%, #FFFFFF 100%);
    padding: 14px;
    font-family: 'UTM Avo';
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    border-radius: 40px;
    line-height: 1.2;
}

.hall-item-linear {
    background: linear-gradient(2.67deg, #232323 4.12%, rgba(35, 35, 35, 0) 62.83%);
    width: 100%;
    height: 788px;
    width: 100%;
    position: absolute;
    bottom: 115px;
}

@media (max-width: 979px) {
    .hall-item-1 {
        top: 80px;
    }

    .hall-item-content {
        padding: 0 16px;
    }

    .hall-item-prefix {
        font-size: 24px;
    }

    .hall-item-name {
        font-size: 40px;
    }

    .hi-text-bottom {
        font-size: 16px;
        margin-top: -30px;
    }

    .hi-text-top {
        height: 90px;
    }

    .hall-item-capacity {
        font-size: 16px;
    }

    .marquee-track span,
    .marquee-track-1 span {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    .hall-item-linear {
        background: linear-gradient(2.67deg, #232323 32%, rgba(35, 35, 35, 0) 62.83%);
        height: 300px;
        bottom: 0px;
    }

    .hall-item-1 {
        position: relative;
        top: unset;
    }

    .hall-item-2 .hall-item-content,
    .hall-item-content {
        flex-direction: column;
        bottom: 15px;
        gap: 16px;
    }

    .hall-item {
        padding-bottom: 120px;
    }

    .hall-item-capacity {
        font-size: 14px;
    }
}

/* #endregion */

.bg-section {
    background: url(/assets/images/home/bg-galaxy-2.png) no-repeat center;
    background-size: cover;
}

/* #region service */
.service {
    padding: 90px 0;
}

.service-title {
    font-family: 'SVN-Conqueror Didot';
    font-size: 64px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    background: linear-gradient(90deg, #FFDE96 0%, #FFFFFF 0.01%, #F4C45B 97.12%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px #FFFFFF;
}

.service-wrap {
    padding-top: 48px;
    display: flex;
    height: auto;
    overflow: hidden;
    height: 458px;
    gap: 16px;
}

.service-item {
    position: relative;
    flex: 1;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s ease;
}

.service-item.active {
    flex: 3;
}

.service-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-linear {
    background: linear-gradient(0.31deg, #000000 0.27%, rgba(0, 0, 0, 0) 51.44%);
    position: absolute;
    bottom: 0;
    height: 90%;
    width: 100%;
    display: none;
}

.service-item.active .service-linear {
    display: block;
}

.service-overlay {
    position: absolute;
    inset: 0;
    background: url(/assets/images/home/bg-overlay.png) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.service-overlay span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: 'SVN-Conqueror Didot';
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
    transform: rotate(180deg);
    background: linear-gradient(90deg, #FFDE96 0%, #FFFFFF 0.01%, #F4C45B 97.12%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px #FFFFFF;
}

.service-link {
    position: absolute;
    left: 50%;
    bottom: 40px;
    z-index: 3;

    display: flex;
    align-items: center;
    gap: 8px;

    font-family: 'SVN-Conqueror Didot';
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
    transform: rotate(180deg);
    background: linear-gradient(90deg, #FFDE96 0%, #FFFFFF 48.08%, #F4C45B 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px #FFFFFF;

    opacity: 0;
    transform: translate(-50%, 30px);
    transition: all .4s ease;
    text-decoration: none !important;
    width: max-content;
}

.service-link:hover {
    color: #FFDE96;
}

/* active */
.service-item.active .service-overlay {
    opacity: 0;
    visibility: hidden;
}

.service-item.active .service-link {
    opacity: 1;
    transform: translate(-50%, 0);
    text-decoration: underline !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 4px;
}

/* item chưa active */
.service-item:not(.active) .service-link {
    pointer-events: none;
}

@media (min-width: 980px) {
    .service-item.active:hover {
        transform: translateY(-10px);
    }
}

@media (max-width: 979px) {
    .service-title {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .service {
        padding: 50px 0;
    }

    .service-title {
        font-size: 28px;
    }

    .service-wrap {
        flex-direction: column;
        height: auto;
        gap: 8px;
    }

    .service-item {
        flex: none;
        height: 80px;
        transition: all .5s ease;
    }

    .service-item.active {
        height: 280px;
    }

    .service-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .service-overlay span {
        writing-mode: initial;
        transform: none;
        font-size: 24px;
    }

    .service-link {
        font-size: 18px;
    }

    .service-link img {
        width: 24px;
    }
}

/* #endregion */

/* #region banquet room */
.banquet-marquee {
    overflow: hidden;
    width: 100%;
    padding: 12px 0;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.banquet-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banquet-slider .swiper-slide {
    width: 558px;
    height: auto;
}

.banquet-slider .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block; 
}

@media (max-width: 767px) {
    .banquet-slider .swiper-slide {
        width: 300px;
    }
}

/* #endregion */

/* #region space */
.space {
    background: url(/assets/images/home/bg-galaxy-3.png) no-repeat center;
    background-size: cover;
    padding: 140px 24px;
    position: relative;
    overflow: hidden;
    height: 500px;
}

.space-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    
    object-fit: cover; 
    z-index: 0; 
}

.space-content {
    position: absolute;
    z-index: 1;
    width: fit-content;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.space-title-top {
    font-family: 'SVN-Conqueror Didot';
    font-size: 51px;
    font-weight: 300;
    line-height: 1.2;
    background: linear-gradient(90deg, #FFDE96 0%, #FFFFFF 31.73%, #F4C45B 68.75%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px #FFFFFF;
    text-align: end;
    margin-bottom: -48px;
}

.space-title-bottom {
    font-family: 'UTM Beautiful Caps';
    font-size: 85px;
    font-weight: 400;
    line-height: 1.6;
    background: linear-gradient(90deg, #FFDE96 0%, #FFFFFF 31.73%, #F4C45B 68.75%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px #FFFFFF;
    text-align: end;
}

.space-title-top,
.space-title-bottom {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 1024px) {
    .space {
        padding: 32px 16px;
    }

    .space-title-top {
        font-size: 28px;
        margin-bottom: -24px;
    }

    .space-title-bottom {
        font-size: 48px;
    }
}

@media (max-width: 767px) {
    .space {
        min-height: 300px;
        height: 350px;
    }

    .space-title-top {
        font-size: 20px;
        margin-bottom: -16px;
    }

    .space-title-bottom {
        font-size: 36px;
    }
}

/* #endregion */

/* #region about */
.about {
    background: url(/assets/images/home/bg-about.png) no-repeat center;
    background-size: cover;
}

.about-row {
    display: flex;
}

.about-row>div {
    flex: 1;
}

.about-title-text {
    font-family: 'SVN-Conqueror Didot';
    font-size: 64px;
    font-weight: 300;
    line-height: 1.2;
    background: linear-gradient(90deg, #FFDE96 0%, #FFFFFF 31.73%, #F4C45B 98.56%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px #FFFFFF;
    padding: 0 24px 0 64px;
    height: 100%;
    align-content: center;
}

.about-img {
    aspect-ratio: 800/400;
    overflow: hidden;
}

.about-img img {
    transition: all 0.5s ease-in-out;
    object-fit: cover;
    object-position: center;
}

.about-img:hover img {
    transform: scale(1.1);
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    position: relative;
    text-align: center;
}

.about-text-head {
    font-family: 'UTM AvoBold';
    font-size: 28px;
    color: #FFFFFF;
}

.about img.about-quote-icon {
    position: absolute;
    width: 56px;
    height: auto;
    aspect-ratio: 56/45;
}

.about-quote-icon-1 {
    top: -30px;
    left: -60px;
}

.about-quote-icon-2 {
    bottom: -10px;
    right: -60px;
}

.about-text-bottom {
    font-family: 'UTM Avo';
    font-size: 15px;
    color: #FFFFFF;
}

/* #region Swiper About Customization */
.about-swiper {
    width: 100%;
}

.swiper-slide {
    height: 100%;
}

/* Tùy chỉnh vị trí Pagination */
.about-pagination {
    bottom: 40px !important;
    left: 25% !important;
}

.about-pagination .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    opacity: 1;
    transition: all 0.3s ease;
}

.about-pagination .swiper-pagination-bullet-active {
    background: #FFF;
    border-radius: 6px;
}
/* #endregion */

@media (max-width: 1100px) {
    .about-title-text {
        font-size: 36px;
    }

    .about-text-head {
        font-size: 24px;
    }

    .about img.about-quote-icon {
        width: 36px;
        display: none;
    }
}

@media (max-width: 979px) {
    .about-quote-icon-1 {
        left: -36px;
    }

    .about-quote-icon-2 {
        right: -36px;
    }

    .about-pagination {
        left: 0 !important;
    }
}

@media (max-width: 767px) {
    .about-row {
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }

    .about-title-text {
        font-size: 24px;
        padding: 24px 16px 0;
    }

    .about-title-text br {
        display: none;
    }

    .about-content {
        padding: 24px 0;
    }

    .about-text-head {
        font-size: 18px;
    }

    .swiper-slide-3 .about-text-head br {
        display: none;
    }

    .about-pagination {
        bottom: 4px !important;
    }

    .about-title-text {
        font-size: 24px;
        padding: 24px 16px 0;
    }

    .about-title-text br {
        display: none;
    }

    .about-content {
        padding: 24px 0;
    }

    .about-text-head {
        font-size: 18px;
    }

    .swiper-slide-3 .about-text-head br {
        display: none;
    }

    .about-pagination {
        bottom: 4px !important;
    }

    .about-swiper .swiper-slide:not(.swiper-slide-1) [data-aos] {
        opacity: 1 !important;
        transform: none !important;
        transition-property: none !important;
    }
}

/* ==========================================
   ĐIỀU KHIỂN AOS THEO MÀN HÌNH CHO ABOUT
========================================== */

@media (min-width: 768px) {
    .about-img[data-aos] {
        opacity: 1 !important;
        transform: none !important;
        transition-property: none !important;
    }
}

@media (max-width: 767px) {
    
    .about-title-text[data-aos] {
        opacity: 1 !important;
        transform: none !important;
        transition-property: none !important;
    }

    .about-img {
        max-height: 375px;
    }
}

/* #endregion */

/* #region quote*/
.quote {
    background: url(/assets/images/home/bg-galaxy-4.png) no-repeat center;
    background-size: cover;
    padding: 48px 16px;
    text-align: center;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    position: relative;
    overflow: hidden;
    min-height: 500px;
}

.quote-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    
    object-fit: cover; 
    z-index: 0; 
}

.quote-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote-text {
    font-family: 'UTM AvoBold';
    font-size: 32px;
    color: #FFFFFF;
    max-width: 1115px;
    margin: 0 auto;
    line-height: 1.5;
}

.quote-name {
    font-family: 'UTM AvoBold';
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 12px;
}

@media (max-width: 979px) {
    .quote-text {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .quote {
        min-height: 400px;
    }

    .quote-text {
        font-size: 20px;
    }

    .quote-name {
        font-size: 14px;
    }

    .quote-icon {
        width: 32px;
        margin-bottom: 12px;
    }

    .quote-content {
        padding: 0 16px;
    }
}

/* #endregion */

/* #region promotion */
.promotion-section {
    display: flex;
    align-items: stretch;
    background: url(/assets/images/home/bg-promotion.png) no-repeat center;
    background-size: cover;
}

/* LEFT */
.promo-left {
    width: 30%;
    background: url(/assets/images/home/bg-promotion-left.avif) no-repeat center;
    background-size: cover;
    padding: 50px 16px;
    display: flex;
    justify-content: center;
}

.promo-title {
    font-family: 'SVN-Conqueror Didot';
    font-size: 96px;
    font-weight: 300;
    line-height: 1;
    background: linear-gradient(90deg, #FFDE96 0%, #FFFFFF 31.73%, #F4C45B 98.56%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px #FFFFFF;
}

.promo-title span {
    display: block;
}

#promo-number {
    display: inline-block;
    transition:
        transform .4s ease,
        opacity .4s ease;
}

#promo-number.change {
    transform: translateY(20px);
    opacity: 0;
}

/* ==========================
   RIGHT
========================== */

.promo-right {
    width: 70%;
}

.promotionSwiper {
    width: 100%;
    aspect-ratio: 920 / 571;
    overflow: hidden;
}

.swiper-slide {
    position: relative;
}

.swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.promo-overlay {
    background: linear-gradient(179.87deg, rgba(43, 43, 43, 0) 5.35%, #212121 99.89%);
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 60%;
}

.swiper-slide h2 {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 40px;

    transform: translateX(-50%);

    font-family: 'SVN-Conqueror Didot';
    font-size: 60px;
    font-weight: 300;
    line-height: 1;
    background: linear-gradient(90deg, #FFDE96 0%, #FFFFFF 31.73%, #F4C45B 65.87%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px #FFFFFF;
    width: 100%;
    text-align: center;
    transition: transform .3s ease;
}

.swiper-slide:hover h2 {
    transform: translate(-50%, -10px);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
}

@media (min-width: 992px) {
    /* Buộc các slide phải hiện thị bình thường, bỏ qua opacity và transform của AOS */
    .promo-right [data-aos] {
        opacity: 1 !important;
        transform: none !important;
        transition-property: none !important;
    }
}

/* ==========================
   MOBILE
========================== */

@media (max-width: 991px) {
    .promotion-section {
        flex-direction: column;
        gap: 16px; 
    }

    .promo-left {
        display: block;
        width: 100%;
    }

    .promo-title {
        font-size: 32px;
        text-align: center;
    }

    #promo-number {
        display: none;
    }

    .promo-right {
        width: 100%;
    }

    .promotionSwiper {
        width: 100%;
        aspect-ratio: unset; 
        overflow: visible; 
    }

    .promotionSwiper .swiper-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: auto;
        transform: none !important;
        transition: none !important;
    }

    .swiper-slide {
        height: auto;
        width: 100%;
    }

    .swiper-slide img {
        width: 100%;
        height: auto;
        /* aspect-ratio: 16 / 9;  */
    }

    .swiper-slide h2 {
        font-size: 24px;
        bottom: 20px;
    }
}

/* #endregion */